.nav {
  padding: 20px 40px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #596275;
  box-shadow: 0px -5px 15px 0px #000;

  &__item {
    & > a {
      font-size: 20px;
      font-weight: 700;
      color: #63cdda;

      text-decoration: none;
      transition: 0.2s ease-in-out;

      &:hover {
        color: #ea8685;
      }
    }
  }
}
